*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
  }
  
  
  
  
  
  .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 150px;
      /* margin-top:px; */
      background: #000000;
      background-size: cover;
    }
    
    .main-1{
        display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 300px;
      margin-top: 50px;
      /* flex-direction: column; */

    }
    .main-2 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 300px;
      margin-top: 140px;
      /* flex-direction: column; */
    }
    .main-2-1{
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 15px;
    }
  
    .main-1-1{
      display: flex;
      justify-content: space-between;
      gap: 30px;
      
    }
    li{
      list-style: none;
  }
    
  .font{
      line-height: 1em;
      font-size: 64px;
      color: #e2e2e2 ;
      font-family: 'DM Serif Display', serif;
      font-family: 'Inter', sans-serif;
      font-family: 'Poppins', sans-serif;
      opacity: 1;
    }
  
  .nft-based{
    font-size: 48px;
    color: #D1D1D1;
    font-weight: 900;
  }
  
  .mid{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 150px;
    /* margin-top: 100px; */
  }
  
  .card{
    background-color: #2E2E2E;
    height: 305px;
    width: 288px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    letter-spacing: 2px;
    font-weight: 700;
    color:  #ffdd61;
    margin-left: 30px;
    /* margin-left: 100px; */
  }
  .card-font{
    color: #ffdd61;
  }
  
  .button{
    color: black;
  }
  
  .connect-wallet{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-around;
  
  }
  
  .connect-wallet-1{
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:start;
    gap: 10px;
  }
  
  
  .letterSpacing{
    letter-spacing: 2px ;
    font-weight: 100;
    font-size: 16px;
  }
  
  
  .gradient-text {
    /* Fallback: Set a background color. */
    background-color: #FF5733;
    
    /* Create the gradient. */
     background-image: linear-gradient(
          45deg, 
          #60d689 0%,
          #e6be6c 33.333%, 
          #33BEFF 66.666%);
    
    background-size: 100%;
    background-repeat: repeat;
  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    
    /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
  
  }
  
  .gradient-text:hover{
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  }
  
  
  /* Move the background and make it smaller. */
  /* Animation shown when entering the page and after the hover animation. */
  @keyframes rainbow-text-simple-animation-rev {
      0% {
          background-size: 650%;
      }
      40% {
          background-size: 650%;
      }
      100% {
          background-size: 100%;
      }
  }
  
  /* Move the background and make it larger. */
  /* Animation shown when hovering over the text. */
  @keyframes rainbow-text-simple-animation {
      0% {
          background-size: 100%;
      }
      80% {
          background-size: 650%;
      }
      100% {
          background-size: 650%;
      }
  }
  
  