

*{
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: white;
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    background: #171717;
    background-size: cover;
  }
  
  .main-1,
  .main-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    margin-top: 10px;
    /* flex-direction: column; */
  }
  .main-2-1{
    width: 50vw;
  }

  .main-1-1{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
  }
  li{
    list-style: none;
}
  
.font{
    line-height: 1em;
    font-size: 64px;
    color: #AAA8AD ;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
  }

.nft-based{
  font-size: 48px;
  color: #D1D1D1;
  font-weight: 900;
}

.mid{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 150px;
}

.card{
  background-color: rgb(129, 126, 126);
  height: 305px;
  width: 288px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.button{
  color: white;
}

.connect-wallet{
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: space-around;

}

.connect-wallet-1{
  display: flex;
  flex-direction: column;
  align-items:start;
  justify-content:start;
  gap: 10px;
}


