/* *{
    background-color: black;
} */
.footer-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 100px;
    background-color: black;
}
.footer-start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.footer-mid-main{
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.footer-mid{
    display: flex;
    justify-content: center;
    gap: 400px;
}
.footer-start-1{
    display: flex;
    justify-content: center;
    gap: 150px;
}

.footer-mid-1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    font-size: 16px;
    font-weight: 700;
}

.footer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    opacity: 0.4;
}

.footer-end-right{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer-end-left{
    display: flex;
    /* flex-direction: column; */
    gap: 15px;
}

.hr1{
    border: solid grey px;
    width: 60vw;
    opacity: 0.2;
}